extends ../layout

block content
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col') 
        th(scope='col')
    tbody
      each bici in bicis
        tr
          th(scope='row') 
            = bici.id
          td 
            = bici.color
          td 
            = bici.modelo
          td 
            = bici.ubicacion
          td
            form.inline(method='post' action=`bicicletas/${bici.id}/delete`)
              input(type='hidden' name='id' value=bici.id)
              button.btn.btn-primary(type='submit' name='submit_param' value='submit_param') 
                = 'BORRAR'
          td
            a(href=`bicicletas/${bici.id}/update`) UPDATE

  a(href='/bicicletas/create') CREAR NUEVO