extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Editar bicicleta

  br
  br
  br

  form(action=`/bicicletas/${bici.id}/update` method="post")
    label(for='id') ID:
    input#id(type='text' name='id' value=bici.id)
    br
    label(for='color') COLOR:
    input#color(type='text' name='color' value=bici.color)
    br
    label(for='modelo') MODELO:
    input#modelo(type='text' name='modelo' value=bici.modelo)
    br
    label(for='lat') LATITUD:
    input#lat(type='text' name='lat' value=bici.ubicacion[0])
    br
    label(for='long') LONGITUD:
    input#long(type='text' name='long' value=bici.ubicacion[1]) 
    br
    br
    input.btn(type='submit' value='INGRESAR')